
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}

image {
	display: block;
	height: auto;
}

button {
	padding: 0;
	margin: 0;
	
	&::after {
		border: none;
	}
}

uni-page-body,
html,
body {  
	height: 100%;

}

.placeholder {
	color: #999;
	font-weight: normal;
}

.uicon-arrow-left {
	font-weight: bold !important;
}

.page_content {
	height: 100%;
	// position: relative;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	.main_content {
		flex: 1;
	}
}