<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanju.drama.mapper.VideoMapper">

    <select id="selectPageByCond" resultType="com.duanju.drama.domain.Video">
        SELECT * FROM vs_drama_video
        WHERE delete_time IS NULL
          AND site_id = #{siteId}
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (title LIKE CONCAT('%', #{keyword}, '%')
              OR performer LIKE CONCAT('%', #{keyword}, '%')
              OR tags LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="categoryId != null">
            AND FIND_IN_SET(#{categoryId}, category_ids)
        </if>
        ORDER BY is_recommend DESC, weigh DESC, id DESC
    </select>

</mapper>
